.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px;
}

.header > img {
    margin-left: 200px;
}

.navOptions {
    margin-right: 200px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.navItem > a {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: hsl(236, 13%, 42%);
    text-decoration: none;
}

.navItem > a:hover {
    color: hsl(5, 85%, 63%);
}